body, html {
  height: 100%;
  margin: 0;
  font-family: Helvetica;
}

/*.header {
  background: url("img/header.png");
  height: 30%;

  background-size: cover;

}

.transbox {
  margin: 0px;
  background-color: blue;
  opacity: 0.6;


}

.transbox h1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
}
*/
div.background {
  background: url(img/header.png);
  border: 0.1px solid black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30%;


}

div.transbox {
  margin: 1.5% 30%;
  background-color: #ffffff;
  border: 1px solid white;
  height: 80%;
  min-width: 200px;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox h1 {
  margin: 100px 20px;
  font-size: 3.7vw;
  text-align: center;
  font-weight: bold;
  color: #000000;
}
